 {% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block title %}Youtube comments downloader{% endblock %} {% block page_content %}
<div class="page-header">
    <h1>Youtube comment download</h1>
</div>
<div class="col-md-6">
    <div class="page-header">
        <h1>Hello, please fill the form</h1>
    </div>
    {{ wtf.quick_form(form) }}

    <br>


</div>
<div class="col-md-8">
    <!-- {% for table in tables %}
    <h2>{{titles[loop.index]}}</h2>
    {{ table|safe }} {% endfor %} -->

</div>
{% endblock %}